In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
car = pd.read_csv(r"C:\Users\Sneha Jaiswal\car data.csv")
car

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [10]:
car.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [12]:
car.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [13]:
car = pd.get_dummies(data=car,  drop_first= True)

In [14]:
car

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,2013,4.75,9.54,43000,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2011,2.85,4.15,5200,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,2014,4.60,6.87,42450,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
297,2015,4.00,5.90,60000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
298,2009,3.35,11.00,87934,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
299,2017,11.50,12.50,9000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
300,2016,5.30,5.90,5464,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [15]:
car.corr()

,Year,Selling_Price,Present_Price,Driven_kms,Owner,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
Year,1.000000,0.236141,-0.047192,-0.524342,-0.182104,-0.046121,0.067442,0.027442,0.047442,0.047442,...,0.007748,-0.212166,-0.004321,0.087442,-0.095596,0.059276,0.064315,-0.059959,-0.039896,0.000394
Selling_Price,0.236141,1.000000,0.878914,0.029187,-0.088344,-0.070132,-0.048484,-0.050987,-0.044502,-0.046209,...,-0.003107,-0.042241,0.062962,0.052209,-0.049143,0.006038,0.552339,-0.540571,-0.550724,-0.367128
Present_Price,-0.047192,0.878914,1.000000,0.203618,0.008058,-0.067286,-0.047633,-0.048904,-0.045692,-0.045692,...,-0.019378,0.007243,0.043519,0.014731,-0.042751,-0.005797,0.473390,-0.465326,-0.512121,-0.348776
Driven_kms,-0.524342,0.029187,0.203618,1.000000,0.089216,0.449361,-0.053013,-0.002896,-0.044536,-0.025203,...,-0.008000,0.050668,0.032997,-0.051867,0.011053,-0.024550,0.172515,-0.172874,-0.101419,-0.162510
Owner,-0.182104,-0.088344,0.008058,0.089216,1.000000,-0.014272,-0.010075,-0.010075,-0.010075,-0.010075,...,-0.022680,-0.024886,-0.038541,-0.010075,-0.020251,0.117621,-0.053469,0.055687,0.124269,-0.050316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Car_Name_xcent,0.059276,0.006038,-0.005797,-0.024550,0.117621,-0.008206,-0.005793,-0.005793,-0.005793,-0.005793,...,-0.013040,-0.014309,-0.022160,-0.005793,-0.011644,1.000000,-0.050063,0.051103,-0.073976,0.039279
Fuel_Type_Diesel,0.064315,0.552339,0.473390,0.172515,-0.053469,-0.040808,-0.028808,-0.028808,-0.028808,-0.028808,...,0.065282,-0.011662,0.126733,0.115710,-0.057905,-0.050063,1.000000,-0.979648,-0.350467,-0.098643
Fuel_Type_Petrol,-0.059959,-0.540571,-0.465326,-0.172874,0.055687,0.041656,0.029406,0.029406,0.029406,0.029406,...,-0.062353,-0.044910,-0.121563,-0.113355,-0.012632,0.051103,-0.979648,1.000000,0.358321,0.091013
Selling_type_Individual,-0.039896,-0.550724,-0.512121,-0.101419,0.124269,0.110929,0.078308,0.078308,0.078308,0.078308,...,-0.041403,-0.105148,-0.162839,-0.042567,-0.085563,-0.073976,-0.350467,0.358321,1.000000,0.063240
Transmission_Manual,0.000394,-0.367128,-0.348776,-0.162510,-0.050316,-0.208915,-0.147479,0.022602,0.022602,0.022602,...,0.050880,-0.014190,0.039989,0.022602,0.045432,0.039279,-0.098643,0.091013,0.063240,1.000000

In [16]:
# splitting of data
y = car['Selling_Price'] #DEPENDENT VARIABLE AND TARGET
x = car.drop(columns= ['Selling_Price']) # INPUT AND INDEPENDENT DATA

In [17]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [18]:
x

,Year,Present_Price,Driven_kms,Owner,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,Car_Name_Bajaj Avenger 220,...,Car_Name_swift,Car_Name_sx4,Car_Name_verna,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
0,2014,5.59,27000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,2013,9.54,43000,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
2,2017,9.85,6900,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,2011,4.15,5200,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,2014,6.87,42450,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,11.60,33988,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
297,2015,5.90,60000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
298,2009,11.00,87934,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
299,2017,12.50,9000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
300,2016,5.90,5464,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [19]:
x['Owner'].unique()

array([0, 1, 3], dtype=int64)